How to create and open a Venv:
step 1: python3.11 -m venv venv
step 2: source venv/bin/activate
step 3: install all of the librarys ex. pandas again

In [1]:
import pandas as pd

Step 1: Clean data

In [10]:


#identify problem: There is only one columndf = pd.read_csv('/Users/kali/Documents/GitHub/Mongo_db/student/student-mat.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    int64
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(17), object(16)
memory usage: 102.0+ KB

Adding a delimiter to seperate the columns

In [6]:
df = pd.read_csv('/Users/kali/Documents/GitHub/Mongo_db_practice/student/student-mat.csv', delimiter=';')
df.paid

0       no
1       no
2      yes
3      yes
4      yes
      ...
390    yes
391     no
392     no
393     no
394     no
Name: paid, Length: 395, dtype: object

Turning paid column into an int

In [50]:
paid = df.paid.to_numpy()
for i, p in enumerate(paid):
    if p == 'yes':
        paid[i] = 1
    else:
        paid[i] = 0
df.paid = paid

print(df['paid'])

0      0
1      0
2      1
3      1
4      1
      ..
390    1
391    0
392    0
393    0
394    0
Name: paid, Length: 395, dtype: object

In [7]:
df.paid =[1 if x == "yes" else 0 for x in df.paid]

In [9]:
df.paid

0      0
1      0
2      1
3      1
4      1
      ..
390    1
391    0
392    0
393    0
394    0
Name: paid, Length: 395, dtype: int64

In [57]:
from sklearn.pipeline import make_pipeline

In [11]:

"""df = pd.read_csv('/Users/kali/Documents/GitHub/Mongo_db/student/student-mat.csv', delimiter=';')
paid = df.paid.to_numpy()
for i, p in enumerate(paid):
    if p == 'yes':
        paid[i] = 1
    else:
        paid[i] = 0
df.paid = paid

print(df['paid'])"""

"df = pd.read_csv('/Users/kali/Documents/GitHub/Mongo_db/student/student-mat.csv', delimiter=';')\npaid = df.paid.to_numpy()\nfor i, p in enumerate(paid):\n    if p == 'yes':\n        paid[i] = 1\n    else:\n        paid[i] = 0\ndf.paid = paid\n\nprint(df['paid'])"